body {
    background-color: #F6F6F6;
    padding-top: 10%;
}

.search-article {
    color: black;
    font-size: 22px;
    text-align: center;
}

.search-article a {
    text-decoration: none;
    color: black;
}

.search-article p {
    margin: 0;
}

.input-icon a {
    display: inline-block;
    width: 64px;
    height: 64px;
}

.search-input {
    height: 30px;
    width: 200px;
    border-radius: 10px;
    border: 0;
    background-color: white;
    color: black;
    font-size: 16px;
    text-align: center;
}

.search-input.visible{
    margin: 10px 0 28px 0;
}

.search-input.hidden {
    display: none;
}

.search-icon.visible {
    display: inline-block;
}

.search-icon.hidden {
    display: none;
}

.articles-list ul {
    list-style: none;
    padding-left: 30px;
    padding-right: 30px;
}

.articles-list ul a {
    text-decoration: none;
    color: black;
}

.articles-list ul li {
    background-color: white;
    padding: 10px 20px;
    margin-bottom: 10px;
}